doctype html
html(class="#{ current.source }-body")
  head
    //- link(rel="stylesheet", href="https://use.typekit.net/xzf1kdh.css")
    link(rel="stylesheet", href="/lib/prism.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon", href="/favicon.ico?v=1")


  body(ng-app='gee')
    - var post = public.posts._data[current.source]

    .post-wrapper
      h1.page-title= post.title
      != yield

    script(src='/lib/prism.js')
