include ../_mixins/lorem
p: +lorem(20, "sentences")
script(src='https://gist.github.com/GeorgeErickson/7883961.js')
p: +lorem(20, "sentences")
p: +lorem(20, "sentences")
script(src='https://gist.github.com/GeorgeErickson/7883961.js')
