doctype html
html(class="#{ current.source }-body")
  head
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon", href="/favicon.ico?v=1")
  body(ng-app='gee')
    .content-wrapper
      != yield
      .content-push
    footer
      a(href='mailto:support@gee.io') Need help?
