header.page-header
  a(href='/').logo
    img(src="g.svg")

  ul
    li
      a(href='/hire').btn Hire Me
    li
      a(href='http://www.linkedin.com/pub/george-erickson/27/b97/813', target="_blank").ion-social-linkedin.icon
    li
      a(href='https://github.com/GeorgeErickson', target="_blank").ion-social-github.icon
    //- li: a(href='/blog') Blog
